.buttan {
    color: black;
    background-color: bisque;
    height: 30px;
    width: 50x;
    margin-top: 2px;
    border: solid 1px;
    border-radius: 5px;
    box-shadow: 3px 3px gray;
    justify-items: left;
}

.botao {
    max-width: 206px;
    display: flex;
    justify-content: flex-end;
    justify-items: left;
    flex-direction: row;
}